#HeaderContainer {
  height: 50px;
  background-color: var(--twilight-indigo);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#HeaderExtras {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

  gap: 4px;
  margin-right: 5px;
}

#HeaderInfo {
  display: flex;
  flex-direction: row;
  gap: 0;
}

#HeaderInfo i {
  font-size: 14px;
  color: white;
  margin-left: 3px;
}

#HeaderLogo {
  width: 180px;
  height: 30px;
  margin-left: 10px;
}

#Version {
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  color: var(--white);
  padding: 0;
  margin: 0px;
}
