@use '../global' as *;

$content-padding: 8px 12px 12px 12px;
$title-margin: 6px 0px 6px 0px;

.np-root {
  @include flex($direction: column);

  height: $popup_height;

  .np-body {
    @include flex($flex: 1);
    min-height: 0;
    overflow: hidden;

    & > *:first-child {
      @include flex-center-col($flex: 0 0 25%);
    }

    .np-content {
      @include flex($direction: column, $flex: 1);

      position: relative;

      padding: $content-padding;
      background-color: var(--white);

      overflow: auto;

      /* preserve space for scrollbar  */
      scrollbar-gutter: stable;

      .np-title {
        font-family: $fontFamily_primary;
        font-size: $fontSize_xl;
        font-weight: 800;

        color: $color_carbon-black;

        margin: $title-margin;
      }

      .np-description {
        font-family: $fontFamily_secondary;
        font-size: $fontSize_md;
        font-weight: 400;

        color: $color_black;
      }
    }
  }
}
