#Layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#Layout_Body {
  display: flex;
  flex: 1;
}

#Layout_Body > *:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 30%;
}

#Layout_Content {
  display: flex;
  flex-direction: column;
  flex: 0 0 75%;

  padding: 12px;
  overflow-y: auto;
  background-color: var(--white);
}

#Layout_Content h1 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  color: var(--title-black);
  margin: 5px;
}
