#Layout {
  display: flex;
  flex-direction: column;
  height: 492px;
}

#Layout_Body {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

#Layout_Body > *:first-child {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  align-items: center;
}

#Layout_Content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px 12px 12px 12px;
  background-color: var(--white);
  overflow: auto;
  scrollbar-gutter: stable;
}

#Layout_Content h1 {
  margin: 0px 0px 0px 0px;
  color: var(--title-black);
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.6em;
  font-weight: 800;
}

#Layout_Content p {
  font-family: 'Figtree', sans-serif;
  font-size: 14px;
  color: var(--title-black);
}

/* -- Scrollbar -- */
#Layout_Content::-webkit-scrollbar {
  width: 8px;
}

#Layout_Content::-webkit-scrollbar-track {
  background: transparent;
}

#Layout_Content::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 2px solid white;
  border-radius: 20px;
}

#Layout_Content::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-highlight);
}
