#Layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#Layout_Body {
  display: flex;
  flex: 1;
}

#Layout_Body > *:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 30%;
}

#Layout_Content {
  display: flex;
  flex-direction: column;

  padding: 12px;
  overflow-y: auto;
  background-color: var(--white);
}

#Layout_Content h1 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  color: var(--title-black);
  margin: 5px 5px 8px 0px;
}

#Layout_Content select {
  background-color: var(--ghost-white);
  min-height: 40px;
  max-width: 100%;

  border: 1px solid var(--blue-highlight);
  border-radius: 6px;

  padding: 0 16px;
  color: var(--twighlight-indigo);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  appearance: none;
  outline: none;
  cursor: pointer;
}
