@use '../global' as *;

$sidebar-root-padding: 10px 0px 10px 0px;
$sidebar-option-padding: 10px 12px;

.np-sidebar-root {
  @include flex($direction: column);

  gap: 5px;

  padding: $sidebar-root-padding;

  background-color: $color_ghost-white;
  border-right: solid 1px $color_pale-slate;

  .np-option-container {
    @include flex($align: center);

    font-family: $fontFamily_primary;
    font-size: $fontSize_base;
    font-weight: 800;

    text-decoration: none;

    color: $color_twilight-indigo;

    width: 90%;

    gap: 4px;

    box-sizing: border-box;
    padding: $sidebar-option-padding;
    border-radius: 6px;

    @include transition(background-color 0.15s ease-in-out, color 0.1s ease-in-out);

    & i {
      text-align: center;
      font-size: $fontSize_md;
    }

    &:hover {
      background-color: rgba($color_ocean-twilight, 0.3);
      color: $color_twilight-indigo;
    }

    &.active {
      background-color: $color_twilight-indigo;
      color: $color_white;
    }
  }
  .np-extension-settings {
    margin-top: auto;
  }
}
