.warningContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 320px;
  padding: 16px 16px 14px;
  gap: 10px;
  z-index: 150;
  border: 1px solid rgba(215, 68, 68, 0.75);
  border-radius: 12px;
  background-color: var(--ghost-red);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 6px 12px rgba(0, 0, 0, 0.1),
    0 12px 24px rgba(0, 0, 0, 0.1),
    0 24px 48px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.warningHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 6px;
  color: var(--twilight-red);
}

.warningHeader i {
  font-size: 15px;
  color: var(--twilight-red);
}

.warningTitle {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: var(--twilight-red);
}

.warningText {
  margin: 0;
  font-family: 'Figtree', sans-serif !important;
  font-size: 13px !important;
  text-align: justify;
  text-justify: inter-word;
  color: var(--cool-red) !important;
}

.warningText strong {
  font-weight: 700;
  color: var(--twilight-red);
}

.warningAccept {
  font-family: 'Figtree', sans-serif;
  font-size: 13px;
  font-weight: 600;

  align-self: center;
  border: 1px solid rgba(215, 68, 68, 0.75);
  border-radius: 8px;

  background-color: var(--ghost-red);
  color: var(--twilight-red);

  margin-top: 6px;
  padding: 8px 12px;
  cursor: pointer;

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;
}

.warningAccept:hover {
  background-color: var(--twilight-red);
  color: var(--ghost-white);
}
