@use '../../global' as *;

.np-shortcuts-container {
  @include flex($direction: column);

  gap: 8px;

  padding: 6px;

  border: 1px solid $color_twilight-indigo;
  border-radius: 8px;

  background-color: $color_ghost-white;

  & .np-shortcut-input-container {
    @include flex($justify: center, $align: center, $direction: column);

    padding-left: 10px;
    padding-right: 10px;

    width: 100%;

    gap: 6px;
  }
}
