@use '../../global' as *;

.np-shortcuts-container {
  @include flex($direction: column);

  gap: 8px;

  padding: 6px;

  box-sizing: border-box;

  border: 1px solid $color_twilight-indigo;
  border-radius: 8px;

  background-color: $color_ghost-white;

  & .np-shortcut-input-container {
    @include flex-center-row;

    width: 100%;

    gap: 6px;
  }
}
