@use '../../global' as *;

$error-container-width: $popup_width;
$error-container-height: $popup_height;
$logo-width: 295px;
$logo-height: auto;
$refresh-padding: 6px 9px;

.np-error-container {
  @include flex-center-col;

  width: $error-container-width;
  height: $error-container-height;

  background-color: $color_twilight-indigo;

  border: 1px solid $color_hot-fuchsia;

  & .np-error-header {
    @include flex-center-col;

    width: 100%;
    height: 50%;

    margin-top: 8%;

    gap: 15px;

    & img {
      width: $logo-width;
      height: $logo-height;
    }

    & .np-error-title {
      font-family: $fontFamily_primary;
      font-size: $fontSize_description;
      font-weight: $fontWeight_technical;

      color: $color_hot-fuchsia;
    }

    & button {
      font-family: $fontFamily_technical;
      font-size: $fontSize_technical;
      font-weight: $fontWeight_technical;

      color: $color_white;

      background-color: $color_raspberry;

      border: 1px solid $color_twilight-red;
      border-radius: 5px;

      padding: $refresh-padding;

      @include transition-full-ease($property: all, $time: 0.08s);

      cursor: pointer;

      &:hover {
        background-color: $color_hot-fuchsia;
        border-color: $color_raspberry;
        box-shadow: 0 2px 6px rgba($color_twilight-red, 0.2);
      }

      &:active {
        background-color: rgba($color_twilight-red, 1);
        border-color: rgba($color_twilight-red, 0.2);
        box-shadow: inset 0 2px 4px rgba($color_carbon-black, 0.2);
      }
    }
  }

  & .np-error-footer {
    width: 100%;
    height: 40%;

    box-sizing: border-box;
    padding: 0 30px;

    & .np-error-subtext-container {
      @include flex($justify: flex-start, $align: center, $direction: row);

      margin: 10px 0px 4px 6px;

      gap: 3px;

      & .np-error-subtext,
      & i {
        font-size: $fontSize_technical;
        font-weight: $fontWeight_technical;

        color: $color_hot-fuchsia;

        margin: 0;
      }
    }
  }

  & .np-error-message-container {
    min-height: 115px;
    max-height: 115px;

    padding: 2px 10px;

    border: 1px solid $color_carbon-black;
    border-radius: 6px;

    background-color: $color_coffee-bean;

    overflow: auto;

    & .np-error-message {
      font-family: $fontFamily_version;
      font-size: $fontSize_technical;
      font-weight: $fontWeight_technical;

      color: $color_hot-fuchsia;
    }
  }
}
