:root {
  /* BASE COLORS */
  --ghost-white: #f2f3fbff;
  --white: #ffffffff;
  --cool-steel: #9c9c9fff;
  --twilight-indigo: #213055ff;
  --blue-highlight: #abafc8;

  /* NOTIFICATION COLORS */
  --electric-red: #ff2113ff;
  --bright-indigo: #0943d9ff;
  --tropical-mint: #00dea4ff;

  height: 500px;
  width: 400px;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
