/* POPUP */

$popup_width: 590px;
$popup_height: 490px;
$popup_layout: 0;

/* COLORS */

$color_white: #ffffff;
$color_ghost-white: #f2f3fb;
$color_dust-grey: #d3d3d3;
$color_cool-steel: #9c9c9f;

$color_black: #000000;
$color_carbon-black: #222222;

$color_pale_slate: #cbd5e1;
$color_lavender-grey: #abafc8;
$color_dusk-blue: #495470;
$color_twilight-indigo: #213055;
$color_space-indigo: #232d4b;
$color_ocean-twilight: #4557a6;
$color_bright-indigo: #4338ca;
$color_cornflower-blue: #4d94ff;

$color_ghost-red: #fff5f5;
$color_lobster-pink: #ce6974;
$color_dusty-mauve: #b14a56;
$color_hot-fuchsia: #ff334b;
$color_raspberry: #d43046;
$color_twilight-red: #991b1b;
$color_espresso: #542121;
$color_coffee-bean: #0f0000;

$color_mint-leaf: #10b981;
$color_sea-green: #15803d;

/* TOGGLE COLORS */

$color_jade-green: #34c77d;
$color_alabaster-grey: #e9e9ea;

/* TOAST COLORS */

/* $color_toast-success-bg: #215533; */
$color_toast-success-bg: $color_twilight-indigo;
$color_toast-warning-bg: #535521;
$color_toast-error-bg: #552121;

$color_toast-success-hl: #47b88b;
$color_toast-warning-hl: #b4b847;
$color_toast-error-hl: #b84747;

$color_toast-success-border: #89d1b5;
$color_toast-warning-border: #b8ab47;
$color_toast-error-border: #b84747;

/* FONT-FAMILY */

$fontFamily_primary: 'Source Sans 3', sans-serif;
$fontFamily_secondary: 'Google Sans', sans-serif;
$fontFamily_tertiary: 'Figtree', sans-serif;
$fontFamily_technical_1: 'Lato', sans-serif;
$fontFamily_technical_2: 'Roboto', sans-serif;
$fontFamily_mono: 'JetBrains Mono', ui-monospace, monospace;

/* FONT-SIZES */

$fontSize_xl: 1.3rem; // 20.8px
$fontSize_lg: 1.125rem; // 18px
$fontSize_base: 1rem; // 16px
$fontSize_md: 0.875rem; // 14px
$fontSize_sm: 0.75rem; // 12px
$fontSize_xs: 0.7rem; // 11.2px

/* LAYERS */

$layer_global-overlay: 100;
$layer_overlay: 20;
$layer_foreground: 10;
$layer_default: 0;
$layer_background: -10;

/* SCROLLBAR */

$scrollbar_width: 8px;
$scrollbar_background: transparent;
$scrollbar_thumb_background: $color_pale-slate;
$scrollbar_thumb_border: 2px solid $color_white;
$scrollbar_thumb_borderRadius: 20px;
$scrollbar_thumb_hoverColor: $color_lavender-grey;

/* MIXINS */

@mixin flex($justify: null, $align: null, $direction: null, $flex: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex: $flex;
}

@mixin flex-center-col($justify: center, $align: center, $direction: column, $flex: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex: $flex;
}

@mixin flex-center-row($justify: center, $align: center, $direction: row, $flex: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex: $flex;
}

@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin transition($transitions...) {
  transition: $transitions;
}

@mixin transition-full-ease($property: null, $time: null) {
  transition: $property $time ease-in-out;
}
