/* COLORS */

$color_white: #ffffff;
$color_ghost-white: #f2f3fb;
$color_cool-steel: #9c9c9f;

$color_black: #000000;
$color_carbon-black: #222222;

$color_pale-slate: #abafc8;
$color_twilight-indigo: #213055;
$color_bright-indigo: #4338ca;

$color_ghost-red: #fff5f5;
$color_hot-fuchsia: #ff334b;
$color_raspberry: #d43046;
$color_twilight-red: #991b1b;

$color_mint-leaf: #10b981;

/* TOGGLE COLORS */

$color_jade-green: #34c759;
$color_alabaster-grey: #e9e9ea;

/* FONTS */

$font_primary: 'Source Sans 3', sans-serif;
$font_secondary: 'Google Sans', sans-serif;
$font_technical: 'Lato', sans-serif;
$font_version: 'JetBrain Mono', ui-monospace;

/* FONT-SIZES */

$fontSize_title: 1.2rem;
$fontSize_description: 0.9rem;

$fontSize_sidebar: 1rem;
$fontSize_list: 0.75rem;
$fontSize_technical: 0.7rem;
