@use '../../global' as *;

$header-height: 50px;
$header-logo-height: 30px;
$header-logo-width: 180px;

.np-header-root {
  @include flex($justify: space-between, $align: center);

  height: $header-height;

  background-color: $color_twilight-indigo;

  .np-logo {
    height: $header-logo-height;
    width: $header-logo-width;
    margin-left: 10px;
  }

  .np-header-extras {
    @include flex($justify: center, $align: flex-end, $direction: column);

    gap: 4px;
    margin-right: 5px;

    .np-header-info {
      @include flex($direction: row);

      gap: 3px;

      .np-version {
        font-family: $fontFamily_mono;
        font-size: $fontSize_sm;
        font-weight: 500;

        color: $color_ghost-white;

        margin: 0;
      }

      .np-header-icon {
        @include flex-center-col;

        text-decoration: none;

        & > * {
          font-size: $fontSize_sm;
          color: $color_ghost-white;
          @include transition-full-ease($property: color, $time: 0.15s);
        }

        &:hover > * {
          color: #000000;
        }
      }
    }
  }
}
