@use '../../global' as *;

.np-credentials-container {
  @include flex($direction: column);

  gap: 8px;

  padding: 6px;

  box-sizing: border-box;

  border: 1px solid $color_twilight-indigo;
  border-radius: 10px;

  background-color: $color_ghost-white;

  & .np-credentials-leftSide {
    @include flex-center-col;

    flex: 1 1 auto;
    min-width: 0;

    & .np-credentials-input-container {
      @include flex-center-row($flex: 1);

      width: 100%;
      gap: 6px;
    }
  }
}
