@use '../../global' as *;

$warning-width: 340px;
$warning-padding: 16px 16px 14px;
$accept-padding: 8px 12px;

.np-warning-container {
  @include flex($justify: flex-start, $align: flex-start, $direction: column);

  @include position-absolute($left: 50%, $top: 50%);
  transform: translate(-50%, -50%);

  width: $warning-width;

  padding: $warning-padding;

  gap: 14px;

  z-index: $layer_overlay;

  border: 1px solid $color_hot-fuchsia;
  border-radius: 12px;

  background-color: $color_ghost-red;

  box-sizing: border-box;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 6px 12px rgba(0, 0, 0, 0.1),
    0 12px 24px rgba(0, 0, 0, 0.1),
    0 24px 48px rgba(0, 0, 0, 0.1);

  & .np-warning-header {
    @include flex($align: center, $direction: row);

    width: 100%;

    gap: 4px;

    color: $color_raspberry;

    user-select: none;

    & i {
      font-size: $fontSize_md;
    }

    & .np-warning-title {
      font-family: $fontFamily_primary;
      font-size: $fontSize_lg;
      font-weight: 700;

      margin: 0;
    }
  }

  & .np-warning-description {
    font-family: $fontFamily_tertiary;
    font-size: $fontSize_md;
    font-weight: 500;

    color: $color_raspberry;

    text-justify: inter-word;
    text-align: justify;

    margin: 0;

    user-select: none;

    & strong {
      font-weight: 700;
      color: $color_twilight-red;
    }
  }

  & .np-warning-accept {
    font-family: $fontFamily_tertiary;
    font-size: $fontSize_sm;
    font-weight: 600;

    align-self: center;

    border: 1px solid $color_hot-fuchsia;
    border-radius: 5px;

    background-color: $color_ghost-red;
    color: $color_raspberry;

    margin-top: 6px;
    padding: $accept-padding;

    cursor: pointer;

    @include transition(background-color 0.2s ease, color 0.2s ease, transform 0.2s ease);

    &:hover {
      background-color: $color_raspberry;
      color: $color_ghost-white;
    }
  }
}
