@use '../../global' as *;

$alert-width: 340px;
$alert-min-height: 120px;
$alert-padding: 4px 12px;

.np-alert-background {
  @include position-absolute($left: 50%, $top: 50%);
  transform: translate(-50%, -50%);

  /* additional pixels added to width, to cover the area we reserve for the scrollbar */
  width: calc(100% + 16px);
  height: 100%;

  background-color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.65);

  backdrop-filter: blur(1px);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  pointer-events: all;

  z-index: calc($layer_global-overlay - 1);
}

.np-alert-container-info,
.np-alert-container-warning {
  @include flex($justify: flex-start, $align: flex-start, $direction: column);

  @include position-absolute($left: 50%, $top: 50%);
  transform: translate(-50%, -50%);

  width: $alert-width;
  min-height: $alert-min-height;
  height: fit-content;

  border-radius: 12px;

  padding: $alert-padding;

  z-index: $layer_global-overlay;

  & .np-alert-title-container-info,
  & .np-alert-title-container-warning {
    @include flex($justify: center, $align: center, $direction: flex-start);

    font-family: $fontFamily_primary;
    font-size: $fontSize_base;
    font-weight: 700;

    gap: 4px;

    & i {
      font-size: $fontSize_md;
    }
  }

  & .np-alert-description-info,
  & .np-alert-description-warning {
    font-family: $fontFamily_technical_2;
    font-size: $fontSize_md;
    font-weight: 400;

    padding: 0px 6px;

    text-justify: inter-word;
    text-align: justify;

    & strong {
      font-weight: 600;
    }
  }

  & .np-alert-accept-info,
  & .np-alert-accept-warning {
    font-family: $fontFamily_primary;
    font-size: $fontSize_md;
    font-weight: 600;

    align-self: center;

    margin-top: 15px;
    margin-bottom: 8px;

    border-radius: 5px;

    padding: 6px 8px;

    cursor: pointer;

    @include transition(border-color 100ms ease-in-out, background-color 100ms ease-in-out);
  }
}

/* WARNING SPECIFIC */

.np-alert-container-warning {
  border: 2px solid $color_raspberry;

  background-color: $color_espresso;

  color: $color_raspberry;

  & .np-alert-description-warning {
    & strong {
      color: $color_lobster-pink;
    }
  }

  & .np-alert-accept-warning {
    border: 2px solid $color_twilight-red;

    background-color: $color_twilight-red;

    color: $color_ghost-red;

    &:hover {
      border: 2px solid $color_ghost-red;

      background-color: $color_raspberry;
    }
  }
}

/* INFO SPECIFIC */

.np-alert-container-info {
  border: 2px solid $color_royal-azure;

  background-color: $color_prussian-blue;

  color: $color_royal-azure;

  & .np-alert-description-info {
    & strong {
      color: $color_glaucous;
    }
  }

  & .np-alert-accept-info {
    border: 2px solid $color_french-blue;

    background-color: $color_french-blue;

    color: $color_ghost-red;

    &:hover {
      border: 2px solid $color_ghost-blue;

      background-color: $color_royal-azure;
    }
  }
}
