@use '../../global' as *;

$picker_size: 2.2rem;
$preview_size: 12rem;
$icon_size: 1rem;
$icon_color: $color_twilight-indigo;

.np-icon-picker-container {
  @include flex($justify: center, $align: center);

  position: relative;

  & .np-icon-picker-button {
    @include flex($justify: center, $align: center);

    width: $picker_size;
    height: $picker_size;

    border: 1px solid $color_pale-slate;
    border-radius: 6px;

    background-color: $color_ghost-white;

    cursor: pointer;

    @include transition-full-ease($property: all, $time: 0.2s);

    &:active,
    &.open {
      border-color: $color_cornflower-blue;
      box-shadow: 0 0 0 1px $color_cornflower-blue;
    }

    & > i {
      font-size: $icon_size;

      color: $icon_color;
    }
  }

  & .np-icon-picker-window {
    display: grid;

    grid-template-columns: repeat(5, minmax(24px, 1fr));

    position: absolute;

    left: 138px;
    bottom: 32px;

    width: $preview_size;
    max-height: $preview_size;

    padding: 8px;

    gap: 2px;

    overflow-y: auto;

    border: solid 1px $color_pale-slate;
    border-radius: 6px;

    background-color: $color_ghost-blue;

    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.05),
      0 6px 12px rgba(0, 0, 0, 0.05),
      0 12px 24px rgba(0, 0, 0, 0.05),
      0 24px 48px rgba(0, 0, 0, 0.05);

    z-index: $layer_global-overlay;

    opacity: 0;

    transform-origin: bottom left;

    animation: iconPickerFadeIn 0.2s ease forwards;

    & .np-icon-option {
      @include flex($justify: center, $align: center);

      width: $picker_size;
      height: $picker_size;

      border: 1px solid transparent;
      border-radius: 6px;

      background-color: transparent;

      cursor: pointer;

      padding: 0;

      &:hover,
      &.selected {
        border: 2px solid $color_cornflower-blue;

        background-color: rgba($color_cornflower-blue, 0.1);
      }

      & > i {
        font-size: $icon_size;

        color: $icon_color;
      }
    }
  }
}

@keyframes iconPickerFadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
