.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
  width: 225px;
  height: 30px;

  padding: 0px 7px;

  border: solid 1px var(--blue-highlight);
  border-radius: 6px;

  background-color: var(--ghost-white);
}

.inputContainer i {
  cursor: none;
  pointer-events: none;
}

.inputContainer:active {
  border-color: #4d94ff;
  box-shadow: 0 0 0 1px #4d94ff;
}

.inputContainer:focus-within {
  border-color: #4d94ff;
  box-shadow: 0 0 0 1px #4d94ff;
}

.inputField {
  border: none;
  border-radius: 6px;

  width: 100%;
  color: var(--title-black);
  background-color: transparent;
}

.inputField:focus {
  outline: none;
  box-shadow: none;
}

.inputField:focus {
  outline: none;
  box-shadow: none;
}

.inputField::placeholder {
  font-size: 13px;
}
